$darkShade: #0F1441;
$darkAccent: #3569BB;
$mainColor: #226A9C;
$lightAccent: #31ADCE;
$lightShade: #E4E8F0;
$displayFont: 'Ubuntu', sans-serif;
$bodyFont: 'Mukta Vaani', sans-serif;

body
{
    background-color: $darkShade;
}

#sidebar
{
    background-color: $lightShade;
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 20px 0px 20px 10px;
    padding: 5px;
    border-radius: 5px;
}  

#main
{
    height: 1000px;
    margin: 10px;
}

#profile
{
    height: 55px;
    display: inline-block;
    background-color: $darkAccent;
    border-radius: 5px;
    float: bottom;
}

.profile-img
{
    height: 70%;
    float: left;
    clip-path: circle(50% at center);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#username
{
    height: auto;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    font-family: $displayFont;
    font-size: 18px;
    text-align: center;
    color: $lightShade;
}

#login-box
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 400px;
    background-color: $mainColor;
    border-radius: 10px;
}

#login-title
{
    text-align: center;
    margin-top: 25px;
    font-family: $displayFont;
    color: $lightShade;
    font-size: 25px;
}

#login-form
{
    padding: 10px;
    font-family: $bodyFont;
    color: $lightShade;
}


#login-form input[type="text"], input[type="password"]
{
    font-family: $bodyFont;
    width: 100%;
    padding: 5px;
    margin-top: 40px;
    border-radius: 5px;
}

#login-form input[type="checkbox"]
{
    margin-top: 15px;
    margin-bottom: 25px;
}

#login-form button
{
    width: 70%;
    text-align: center;
    font-family: $bodyFont;
    font-size: 18px;
    color: $lightShade;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    border-color: $darkAccent;
    border-style: double;
    border-width: medium;
    background-color: $lightAccent;
}

#login-form button:hover
{
    background-color: $darkAccent;
    border-color: $lightAccent;
}

