$darkShade: #1A1420;
$darkAccent: #7b43ac;
$mainColor: #8953a2;
$lightAccent: #E4BA50;
$lightShade: #FBFBFB;
$displayFont: 'Montserrat', sans-serif;
$bodyFont: 'Mukta Vaani', sans-serif;

body
{
    background-color: $darkShade;
    height: 100vh;
}

.main
{
    margin: 0px;
    height: 100vh;
    padding: 10px;
}
#sidebar
{
    background-color: $lightShade;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: inherit;
    padding: 6px;
    padding-top: 0px; 
    border-radius: 5px;
}  

#sidebar-logo
{
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#profile
{
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $darkAccent;
    border-radius: 5px;
    float: top;
    padding: 0px;
}

.profile-img
{
    height: 70%;
    float: left;
    margin-left: 5%;
    clip-path: circle(50% at center);
    position: absolute;
    vertical-align: middle;
}

#username
{
    height: auto;
    position: relative;
    margin-left: 27%;
    margin-right: auto;
    font-family: $displayFont;
    font-size: 18px;
    text-align: center;
    color: $lightShade;
}

.sidebar-icon
{
    display: block;
    height: auto;
    width: 20%;
    float: left;
    margin: 0px;
    margin-top: -6px;
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar-item
{
    color: $darkShade;
    font-family: $displayFont;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: solid 2px $darkAccent;
}

.contentHolder
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.modePanel
{
    float: left;
    background-color: $darkAccent;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    border-radius: 5px;
    color: $lightShade;
    font-size: 300%;
    font-weight: 500;
    text-align: center;
}

#login-box
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    background-color: $mainColor;
    border-radius: 10px;
}

#login-logo
{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#login-title
{
    text-align: center;
    margin-top: 15px;
    margin-bottom: -10px;
    font-family: $displayFont;
    color: $lightShade;
    font-size: 25px;
}

#login-form
{
    padding: 10px;
    font-family: $bodyFont;
    color: $lightShade;
}


#login-form input[type="text"], input[type="password"]
{
    font-family: $bodyFont;
    width: 100%;
    padding: 5px;
    margin-top: 35px;
    border-radius: 5px;
}

#login-form input[type="checkbox"]
{
    margin-top: 25px;
    margin-bottom: 35px;
}

#login-form .button
{
    width: 70%;
    text-align: center;
    text-decoration: none;
    font-family: $bodyFont;
    font-size: 18px;
    color: $darkShade;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    border-color: $darkAccent;
    border-style: double;
    border-width: medium;
    background-color: $lightShade;
}

#login-form .button:hover
{
    color: $lightShade;
    text-decoration: none;
    background-color: $darkAccent;
    border-color: $lightShade;
}

