$darkShade: #1A1420;
$darkAccent: #8953A2;
$mainColor: #81609E;
$lightAccent: #E4BA50;
$lightShade: #FBFBFB;
$displayFont: 'Montserrat', sans-serif;
$bodyFont: 'Mukta Vaani', sans-serif;

body
{
    background-color: $darkShade;
}

#sidebar
{
    background-color: $lightShade;
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 20px 20px 20px 5px;
    padding: 6px;
    border-radius: 5px;
}  

#main
{
    height: 1000px;
    margin: 10px;
}

#profile
{
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $darkAccent;
    border-radius: 5px;
    float: top;
    padding: 0px;
}

.profile-img
{
    height: 70%;
    float: left;
    margin-left: 5%;
    clip-path: circle(50% at center);
    position: absolute;
    vertical-align: middle;
}

#username
{
    vertical-align: middle;
    height: auto;
    position: relative;
    margin-left: 27%;
    margin-right: auto;
    font-family: $displayFont;
    font-size: 18px;
    text-align: center;
    color: $lightShade;
}

#login-box
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 400px;
    background-color: $mainColor;
    border-radius: 10px;
}

#login-title
{
    text-align: center;
    margin-top: 25px;
    font-family: $displayFont;
    color: $lightShade;
    font-size: 25px;
}

#login-form
{
    padding: 10px;
    font-family: $bodyFont;
    color: $lightShade;
}


#login-form input[type="text"], input[type="password"]
{
    font-family: $bodyFont;
    width: 100%;
    padding: 5px;
    margin-top: 40px;
    border-radius: 5px;
}

#login-form input[type="checkbox"]
{
    margin-top: 25px;
    margin-bottom: 35px;
}

#login-form button
{
    width: 70%;
    text-align: center;
    font-family: $bodyFont;
    font-size: 18px;
    color: $darkShade;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    border-color: $darkAccent;
    border-style: double;
    border-width: medium;
    background-color: $lightAccent;
}

#login-form button:hover
{
    color: $lightShade;
    background-color: $darkAccent;
    border-color: $lightAccent;
}

